<h1 class="d-flex display-4 justify-content-center mb-5">PRODUCTS FORM</h1>

<form action="/products" method="POST" class="container-sm" target="noredirect">
  <div class="mb-3">
    <input
      class="form-control bg-transparent text-white"
      type="text"
      name="title"
      placeholder="Title"
      required
    />
  </div>
  <div class="mb-3">
    <input
      class="form-control bg-transparent text-white"
      type="number"
      name="price"
      placeholder="price"
      required
    />
  </div>
  <div class="mb-3">
    <input
      class="form-control bg-transparent text-white"
      type="text"
      name="thumbnail"
      placeholder="Thumbnail"
      required
    />
  </div>

  <button type="submit" class="btn btn-success">Create Product</button>
</form>

{{!-- Just use to send form without redirect --}}
<iframe name="noredirect" id="noredirect" style="display: none;"></iframe>
