.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: auto;
  padding: 1rem 3rem;
  border-bottom: 1px solid rgba(211, 211, 211, 0.089);
  .img {
    width: 5rem;
    margin: 0 2rem;
    object-fit: contain;
  }
}
