<h1>Products</h1>
<a class="btn btn-success mb-5" href="../" role="button">GO TO FORM</a>

<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table table-image table-dark">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Price</th>
            <th scope="col">Picture</th>
          </tr>
        </thead>
        <tbody>
          <% products.forEach(product => { %>
          <tr>
            <th scope="row"><%= product.title %></th>
            <td>$<%= product.price %></td>
            <td class="w-25">
              <img
                class="img-fluid img-thumbnail"
                src="<%= product.thumbnail %>"
                alt="<%= product.title %>}"
              />
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</div>
